@charset "UTF-8";
/* Обнуление стилей */
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Ограничивающий контейнер */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  height: 100%;
}

/* Убираю скролл */
body, html {
  overflow: hidden;
}

/* Основная оболочка сайта */
.wrapper {
  width: 100%;
  height: 100vh;
}

.wrapper__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.wrapper .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* Шрифты */
body, html {
  font-family: 'Montserrat', sans-serif;
}

/* Переменные */
/* Главная */
.main {
  height: 100%;
}

.main__row {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__title {
  color: #a6e64d;
  font-size: 40px;
  line-height: 1em;
  font-weight: 500;
  margin: 0 0 40px 0;
}

.main__subtitle {
  color: #fff;
  font-size: 30px;
  line-height: 1em;
  margin: 0 0 40px 0;
}

.main__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.1em;
  margin: 0 0 40px 0;
}

.main__link {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #a6e64d;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title {
  text-align: center;
  color: #a6e64d;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 40px 0;
}

.advantages {
  height: 100%;
}

.advantages__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 30px 0;
}

.advantages__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70px;
          flex: 0 1 70px;
  height: 70px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages__icon_monitor {
  background-image: url(../img/monitor.svg);
}

.advantages__icon_monitor.active, .advantages__icon_monitor:hover {
  background-image: url(../img/monitor-active.svg);
}

.advantages__icon_like {
  background-image: url(../img/like.svg);
}

.advantages__icon_like.active, .advantages__icon_like:hover {
  background-image: url(../img/like-active.svg);
}

.advantages__icon_presentation {
  background-image: url(../img/presentation.svg);
}

.advantages__icon_presentation.active, .advantages__icon_presentation:hover {
  background-image: url(../img/presentation-active.svg);
}

.advantages__description {
  color: #fff;
  font-size: 16px;
  line-height: 1.2em;
  display: none;
}

.advantages__description.active {
  display: block;
}

.portfolio {
  height: 100%;
}

.portfolio__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 560px;
          flex: 0 1 560px;
  padding: 0 0 60px 0;
}

.portfolio__slide {
  width: 500px;
  height: 500px;
}

.portfolio__screen {
  display: block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.portfolio__screen_vsh {
  background-image: url(../img/1.jpg);
}

.portfolio__screen_rww {
  background-image: url(../img/2.jpg);
}

.portfolio__screen_ya {
  background-image: url(../img/3.jpg);
}

.portfolio__btn-prev, .portfolio__btn-next {
  top: 96%;
}

.portfolio__btn-prev {
  left: calc(48% - 50px);
}

.portfolio__btn-next {
  left: calc(48.5% + 50px);
}

.reviews {
  height: 100%;
}

.reviews__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__column {
  overflow: hidden;
}

.reviews__column_w {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.reviews__column_ph {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.words {
  width: 100%;
  height: auto;
}

.words__name {
  color: #fff;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.words__text {
  color: #fff;
  font-size: 16px;
}

.photos {
  width: 250px;
  height: 150px;
}

.photos__slide {
  padding: 0 50px;
}

.photos__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.plan {
  height: 100%;
}

.plan__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__content {
  width: 60%;
}

.plan__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.plan__point::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 24px;
  width: 2px;
  height: 100%;
  background-color: #a6e64d;
}

.plan__point:last-child::after {
  display: none;
}

.plan__number {
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  min-width: 50px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #a6e64d 2px solid;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 30px 0 0;
}

.plan__text {
  padding: 0 0 20px 0;
  color: #fff;
}

.plan__subtitle {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.plan__description {
  font-size: 16px;
}

.price {
  height: 100%;
}

.price {
  height: 100%;
}

.price__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__slider {
  width: 100%;
  height: 100%;
}

.price__slide {
  height: auto;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.price__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.card {
  min-height: 200px;
  background-color: rgba(243, 243, 243, 0.6);
  border-radius: 10px;
}

.card__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  padding: 20px 0px 20px 20px;
}

.card__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 10px 5px 10px 20px;
}

.card__advantage {
  font-size: 16px;
  margin: 3px 0px;
}

.card__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 20px;
  white-space: nowrap;
  padding: 20px 0px 20px 20px;
}

.card__price s {
  font-size: 16px;
}

.card__price span {
  color: red;
}

.card__price_b {
  font-size: 16px;
}

/* Попап */
.popup {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.popup__body {
  min-height: 100%;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  max-width: 800px;
  background-color: #f0f0f0;
  padding: 30px 30px 20px 30px;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.popup__close {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup__close::before, .popup__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.popup__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close:hover::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.popup__close:hover::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.popup__title {
  font-size: 20px;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.popup__item {
  margin: 0px 0px 15px 0px;
  text-align: center;
}

.popup__name {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.popup__name:focus {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
}

.popup__phone {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
}

.popup__phone:focus {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
}

.popup__comment {
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 25px;
  width: 100%;
  resize: none;
}

.popup__comment:focus {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
}

.popup__checkbox {
  display: none;
}

.popup__checkbox:checked + .popup__privacy::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__privacy {
  padding: 0 0 0 20px;
  font-size: 14px;
  line-height: 1.2em;
  color: #000;
  position: relative;
  cursor: pointer;
}

.popup__privacy a {
  color: #000;
  text-decoration: underline;
}

.popup__privacy a:hover {
  text-decoration: none;
}

.popup__privacy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 4px;
}

.popup__privacy::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #a6e64d;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.popup__button {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #a6e64d;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.popup__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

/* Адаптив */
/* Адаптивный контейнер */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

/* Переменные */
@media (max-width: 1199.98px) {
  /* Переменные */
  .plan__content {
    width: 70%;
  }
}

@media (max-width: 991.98px) {
  /* Переменные */
  .main__row {
    width: 70%;
  }
  .portfolio__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
  .portfolio__slide {
    width: 350px;
    height: 350px;
  }
  .photos {
    width: 200px;
    height: 100px;
  }
  .photos__slide {
    padding: 0 50px;
  }
  .plan__content {
    width: 90%;
  }
  .price__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 20px 0;
  }
  .card {
    min-height: 250px;
  }
}

@media (max-width: 767.98px) {
  .main__row {
    width: 90%;
  }
  .plan__content {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  /* Переменные */
  .wrapper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .main__row {
    width: 100%;
  }
  .main__title {
    font-size: 25px;
  }
  .main__subtitle {
    font-size: 22px;
  }
  .main__text {
    font-size: 16px;
  }
  .main__link {
    font-size: 14px;
  }
  .advantages__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50px;
            flex: 0 1 50px;
    height: 50px;
  }
  .portfolio__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
  .portfolio__slide {
    width: 300px;
    height: 350px;
  }
  .reviews__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .reviews__column_w {
    margin: 0 0 50px 0;
  }
  .words {
    text-align: center;
  }
  .plan__point::after {
    top: 40px;
    left: 19px;
  }
  .plan__number {
    font-size: 16px;
    min-width: 40px;
    min-height: 40px;
    margin: 0 10px 0 0;
  }
  .plan__text {
    padding: 0 0 10px 0;
  }
  .plan__subtitle {
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 8px 0px 0 0;
  }
  .plan__subtitle.active {
    margin: 0 0 10px 0;
  }
  .plan__description {
    font-size: 14px;
    display: none;
  }
  .plan__description_1 {
    display: block;
  }
  .price__body {
    height: 100%;
  }
  .price__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 20px 0;
  }
  .card {
    min-height: 250px;
  }
}
