/* Адаптивный контейнер */
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
    }
}

/* Переменные */


@media (max-width: 1199.98px) {
    /* Переменные */
    // $fz-h1: 40px;
    // $fz-title: 30px;
    // $fz-subtitle: 20px;
    // $fz-text: 16px;

    .plan {
        &__content {
            width: 70%;
        }
    }
}
@media (max-width: 991.98px) {
    /* Переменные */
    $fz-h1: 30px;
    $fz-title: 30px;
    $fz-subtitle: 20px;
    $fz-text: 16px;

    .wrapper {
        &__bg {
            background-position: 0 0;
        }
    }

    .main {
        &__row {
            width: 70%;
        }
    }

    .portfolio {
        &__slider {
            flex: 0 1 400px;
        }

        &__slide {
            width: 350px;
            height: 350px;
        }
    }

    .photos {
        width: 200px;
        height: 100px;

        &__slide {
            padding: 0 50px;
        }
    }

    .plan {
        &__content {
            width: 90%;
        }
    }

    .price {
        &__column {
            flex: 0 1 50%;
            margin: 0 0 20px 0;
        }
    }

    .card {
        min-height: 250px;
    }
}
@media (max-width: 767.98px) {

    .main {
        &__row {
            width: 90%;
        }
    }

    .plan {
        &__content {
            width: 100%;
        }
    }

    .contacts {
        &__column {
            &:first-child {
                flex: 0 1 55%;
            }
            &:last-child {
                flex: 0 1 45%;
            }
        }

        &__contact {
            font-size: $fz-text;
            img {
                margin: 0 7px 0 0 ;
            }
        }
    }
}
@media (max-width: 575.98px) {
    /* Переменные */
    $fz-h1: 25px;
    $fz-title: 22px;
    $fz-subtitle: 18px;
    $fz-text: 14px;

    .wrapper {
        &__bg {
            left: 0;
            background-position: 0 0;
        }

        // &__page {
        //     padding: 0 0 100px 0;
        //         &:nth-child(6) {
        //             padding: 0 0 0px 0;
        //         }
        // }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
        }
    }

    .main {
        &__row {
            width: 100%;
        }

        &__title {
            font-size: $fz-h1;
        }
    
        &__subtitle {
            font-size: $fz-title;
        }
    
        &__text {
            font-size: $fz-subtitle;
        }

        &__link {
            font-size: $fz-text;
        }
    }

    .title {
        margin: 0 0 30px 0;
    }

    .advantages {
        &__items {
            padding: 5px 0 0px 0;
        }

        &__icon {
            height: 50px;
            background-size: 40px;
        }

        &__description {
            padding: 10px;
        }
    }

    .portfolio {
        &__slider {
            flex: 0 1 350px;
        }

        &__slide {
            width: 300px;
            height: 300px;
        }

        &__btn-prev, &__btn-next {
            width: 30px;
            height: 30px;
        }
    }

    .reviews {
        &__column {
            flex: 0 1 100%;
                &_w {
                    margin: 0 0 30px 0;
                }
        }
    }

    .words {
        text-align: center;

        &__slide {
            padding: 10px;
        }
    }

    .photos {
        &__button-prev, &__button-next {
            width: 30px;
            height: 30px;
        }
    }

    .plan {
        &__point {
            &::after {
                top: 40px;
                left: 19px;
            }
        }

        &__number {
            font-size: $fz-subtitle;
            min-width: 40px;
            min-height: 40px;
            margin: 0 10px 0 0;
        }

        &__text {
        }

        &__subtitle {
            font-size: $fz-subtitle;
            padding: 8px 0px 0 0;
        }

        &__description {
            font-size: $fz-text;
            display: none;
                &_1 {
                    display: block;
                }
        }
    }

    .price {
        &__slide {
            padding: 20px 0 0px 0;
        }

        &__body {
            height: 100%;
        }

        &__column {
            flex: 0 1 100%;
            margin: 0 0 20px 0;
        }
    }

    .card {
        min-height: 250px;
    }

    .contacts {
        &__column {
            &:first-child {
                flex: 0 1 100%;
                margin: 0 0 10px 0;
            }
            &:last-child {
                flex: 0 1 100%;
            }
        }

        &__contact {
            font-size: $fz-subtitle;
            margin: 10px 0;
        }
    }

    .form-contacts {
        padding: 20px;

        &__title {
            font-size: $fz_subtitle;
        }

        &__name {
            font-size: $fz_text;
            padding: 10px;
        }
    
        &__phone {
            font-size: $fz_text;
            padding: 10px;
        }
    
        &__comment {
            font-size: $fz_text;
            padding: 10px 15px;
        }

        &__button {
            font-size: $fz_subtitle;
            padding: 10px 15px;
        }
    }
}