/* Обнуление стилей */
@import 'null';
/* Ограничивающий контейнер */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    height: 100%;
}
/* Убираю скролл */
body, html {
    overflow: hidden;
}
/* Основная оболочка сайта */
.wrapper {
width: 100%;
height: 100vh;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 130%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__slider {
    }

    &__page {
    }

    &__menu {
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }
    
    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }
}
/* Шрифты */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body, html {font-family: 'Montserrat', sans-serif;}
/* Переменные */
$color-first: #a6e64d;
$color-second: #000;
$color-third: #000;
$fz-h1: 40px;
$fz-title: 30px;
$fz-subtitle: 20px;
$fz-text: 16px;

/* Главная */
.main {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        color: $color-first;
        font-size: $fz-h1;
        line-height: 1em;
        font-weight: 500;
        margin: 0 0 40px 0;
    }

    &__subtitle {
        color: $color-second;
        font-size: $fz-title;
        line-height: 1em;
        margin: 0 0 40px 0;
    }

    &__text {
        color: $color-third;
        font-size: $fz-subtitle;
        line-height: 1.1em;
        margin: 0 0 40px 0;
    }

    &__button {
    }

    &__link {
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: $color-first;
        color: #000;
        font-size: $fz-text;
        font-weight: 500;
        transition: 300ms;
            &:hover {
                transform: scale(1.1);
            }
    }
}

.title {
    text-align: center;
    color: $color-first;
    font-size: $fz-title;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.advantages {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
    }

    &__tabs {
    }

    &__items {
        display: flex;
        justify-content: space-around;
        margin: 0 0 30px 0;
    }

    &__icon {
        flex: 0 1 70px;
        height: 70px;
        cursor: pointer;
        // transition: 300ms;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &_monitor {
            background-image: url(../img/monitor.svg);
                &.active, &:hover {
                    background-image: url(../img/monitor-active.svg);
                }
        }
        &_like {
            background-image: url(../img/like.svg);
                &.active, &:hover {
                    background-image: url(../img/like-active.svg);
                }
        }
        &_presentation {
            background-image: url(../img/presentation.svg);
                &.active, &:hover {
                    background-image: url(../img/presentation-active.svg);
                }
        }
    }

    &__text {
    }

    &__description {
        color: $color-second;
        font-size: $fz-text;
        line-height: 1.2em;
        display: none;
            &.active {
                display: block;
            }
    }
}

.portfolio {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
    }

    &__slider {
        width: 100%;
        flex: 0 1 560px;
        padding: 0 0 60px 0;
    }

    &__wrap {
    }

    &__slide {
        width: 500px;
        height: 500px;
    }

    &__screen {
        display: block;
        height: 100%;
        width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }

    &__btn-prev, &__btn-next {
        top: 96%;
    }

    &__btn-prev {
        left: calc(50% - 16px - 50px);
    }

    &__btn-next {
        left: calc(50% - 16px + 50px);
    }
}

.reviews {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        // margin: 0 -10px;
    }

    &__column {
        overflow: hidden;
        // padding: 0 10px;
        &_w {
            flex: 0 0 60%;
        }

        &_ph {
            flex: 0 0 40%;
            display: flex;
            align-items: center;
        }
    }

    &__words {
    }

    &__photos {
    }
}

.words {
    width: 100%;
    height: auto;

    &__wrap {
    }

    &__slide {
    }

    &__name {
        color: $color-second;
        font-size: $fz-subtitle;
        margin: 0 0 20px 0;
    }

    &__text {
        color: $color-second;
        font-size: $fz-text;
    }
}

.photos {
    width: 250px;
    height: 150px;

    &__wrap {
    }

    &__slide {
        padding: 0 50px;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
    }

    &__button-prev {
    }

    &__button-next {
    }
}

.plan {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
    }

    &__content {
        width: 60%;
    }

    &__point {
        display: flex;
        position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50px;
                left: 24px;
                width: 2px;
                height: 100%;
                background-color: $color-first;
            }
            &:last-child::after {
                display: none;
            }
    }

    &__number {
        font-size: $fz-subtitle;
        font-weight: 500;
        background-color: #fff;
        min-width: 50px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $color-first 2px solid;
        border-radius: 50%;
        align-self: flex-start;
        margin: 0 30px 0 0;            
    }

    &__text {
        padding: 0 0 20px 0;
        color: $color-second;
    }

    &__subtitle {
        font-size: $fz-subtitle;
        font-weight: 500;
        margin: 0 0 10px 0;
    }

    &__description {
        font-size: $fz-text;
    }
}

.price {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__body {
        // height: 100%;
    }

    &__slider {
        width: 100%;
        height: 100%;
    }

    &__wrap {
    }

    &__slide {
        height: auto;
    }

    &__title {
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__column {
        // border: 1px solid red;
        flex: 0 1 25%;
        padding: 0 10px;
        display: flex;
    }

    &__card {
        flex: 0 1 100%;
    }
}

.card {
    min-height: 200px;
    background-color: rgba(243, 243, 243, 0.6);
    border-radius: 10px;

    &__row {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__title {
        flex: 0 1 100%;
        font-size: $fz-subtitle;
        font-weight: 500;
        white-space: nowrap;
        padding: 20px 0px 20px 20px;
    }

    &__list {
        flex: 0 1 100%;
        padding: 10px 5px 10px 20px;
    }

    &__advantage {
        font-size: $fz-text;
        margin: 3px 0px;
    }

    &__price {
        flex: 0 1 100%;
        align-self: flex-end;
        font-size: $fz-subtitle;
        white-space: nowrap;
        padding: 20px 0px 20px 20px;
        s {
            font-size: $fz-text;
        }
        span {
            color: rgb(255, 0, 0);
        }
        &_b {
            font-size: $fz-text;
        }
    }
}

.contacts {
    height: 100%;

    &__container {
    }

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__column {
        flex: 0 1 50%;
        padding: 0 10px;
    }

    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list {
    }

    &__contact {
        font-size: $fz-subtitle;
        color: $color-second;
        // white-space: nowrap;
        margin: 20px 0;
        img {
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0 ;
        }
    }
}

.form-contacts {
    max-width: 450px;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 20px;
    border-radius: 10px;

    &__title {
        font-size: $fz_subtitle;
        font-weight: 500;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    &__item {
        margin: 0px 0px 15px 0px;
        text-align: center;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
    }

    &__name {
        font-size: $fz_text;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 100%;
        transition: 300ms;
            &:focus {
                box-shadow: 0 0 15px $color_second;
            }
    }

    &__phone {
        font-size: $fz_text;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 100%;
            &:focus {
                box-shadow: 0 0 15px $color_second;
            }
    }

    &__comment {
        font-size: $fz_text;
        text-align: center;
        padding: 10px 15px;
        border-radius: 25px;
        width: 100%;
        resize: none;
            &:focus {
                box-shadow: 0 0 15px $color_second;
            }
    }

    &__checkbox {
        display: none;

        &:checked + .form-contacts__privacy::after {
            transform: scale(1);
        }
    }

    &__privacy {
        padding: 0 0 0 20px;
        font-size: 14px;
        line-height: 1.2em;
        color: #000;
        position: relative;
        cursor: pointer;
        
            a {
                color: #000;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 4px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                background-color: $color_first;
                border-radius: 2px;
                transform: scale(0);
                transition: 300ms;
            }
    }

    &__button {
        font-size: $fz_subtitle;
        font-weight: 500;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: $color_first;
        transition: 300ms;
            &:hover {
                transform: scale(1.1);
            }
    }
}

/* Попап */
.popup {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 500ms;
    
    &__body {
        min-height: 100%;
        padding: 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        max-width: 800px;
        background-color: rgb(240, 240, 240);
        padding: 30px 30px 20px 30px;
        border-radius: 10px;
        position: relative;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        transition: 500ms;
    }

    &__close {
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: 300ms;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        &:hover::before {
            transform: rotate(225deg);
        }
        &:hover::after {
            transform: rotate(135deg);
        }
    }

    &__form {
    }

    &__title {
        font-size: $fz_subtitle;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    &__item {
        margin: 0px 0px 15px 0px;
        text-align: center;
    }

    &__name {
        font-size: $fz_text;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 100%;
        transition: 300ms;
            &:focus {
                box-shadow: 0 0 15px $color_second;
            }
    }

    &__phone {
        font-size: $fz_text;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 100%;
            &:focus {
                box-shadow: 0 0 15px $color_second;
            }
    }

    &__comment {
        font-size: $fz_text;
        text-align: center;
        padding: 10px 15px;
        border-radius: 25px;
        width: 100%;
        resize: none;
            &:focus {
                box-shadow: 0 0 15px $color_second;
            }
    }

    &__checkbox {
        display: none;

        &:checked + .popup__privacy::after {
            transform: scale(1);
        }
    }

    &__privacy {
        padding: 0 0 0 20px;
        font-size: 14px;
        line-height: 1.2em;
        color: #000;
        position: relative;
        cursor: pointer;
        
            a {
                color: #000;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 4px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                background-color: $color_first;
                border-radius: 2px;
                transform: scale(0);
                transition: 300ms;
            }
    }

    &__button {
        font-size: $fz_subtitle;
        font-weight: 500;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: $color_first;
        transition: 300ms;
            &:hover {
                transform: scale(1.1);
            }
    }

    &.open {
        opacity: 1;
        visibility: visible;
        
        .popup__content {
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
            opacity: 1;
        }
    }
}

/* Адаптив */
@import 'media';